* {
    line-height: 1.4;
    margin: 20px auto;
    max-width: 70vw;
    padding: 0 10px;
    color: #dbdbdb;
    background: #202b38;
} 

.contenedor {
    width: 90%;
    margin: 0 auto;
}

.current {
    color: green;
}