<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    {% feed_meta %}
    {% seo %}
    
</head>
<body class="body-container">
    <header class="item-header">
        {% include nav.html %}
    </header>
    <main class="item-main">
        
        {{ content }}
        
    </main>
    <footer class="item-footer">
        <i>Erik Navarrete</i>&nbsp;&#x1f918;&nbsp;&#x1f918;
    </footer>
</body>
</html>